@mixin flex-container($direction, $alignment: auto, $justification: auto) {
    display: flex;
    flex-direction: $direction;
    align-items: $alignment;
    justify-content: $justification;
}

@keyframes shake {
    0% {
        margin-left: 0rem;
    }

    25% {
        margin-left: 0.5rem;
    }

    75% {
        margin-left: -0.5rem;
    }

    100% {
        margin-left: 0rem;
    }
}

@media (max-width: 45.0625em) {
    nav {
        $mg: 6px;
        padding: $mg calc($mg * 3) !important;
    }

    .error_msg {
        top: 4em;
    }

    .calculator_holder {
        gap: 0;
        padding: 0;
        justify-content: center;
    }

    .container .calculator_holder .base_selectors {
        gap: 10px
    }

    .container .calculator_holder .value_inputs {
        gap: 1.35em
    }

    .container .calculator_holder .base_selectors .convert_icon img {
        width: 28px;
    }

    input,
    select {
        border-radius: 0 !important;
        font-size: 16px !important;
        width: 150px !important;
        height: 42PX;
        padding: 2px !important;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}