@mixin flex-container($direction, $alignment: auto, $justification: auto) {
    display: flex;
    flex-direction: $direction;
    align-items: $alignment;
    justify-content: $justification;
}

@keyframes shake {
    0% {
        margin-left: 0rem;
    }

    25% {
        margin-left: 0.5rem;
    }

    75% {
        margin-left: -0.5rem;
    }

    100% {
        margin-left: 0rem;
    }
}